.pert-chart .chart {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

.pert-chart .chart-controls {
    position: absolute;
    margin: 0 5px;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
}

.pert-chart .chart-controls button {
    display: inline-block;
    width: fit-content;
    width: 60px;
    padding: 5px;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    transition: 0.2s;
    outline: none;
    opacity: 0.7;
}

.pert-chart .chart-controls button:hover {
    background: #181922;
    opacity: 1;
}

.pert-chart .chart-controls button i {
    font-size: 20px;
    color: #fff;
    transition: 0.2s;
}



.pert-chart .chart-controls button:hover i {
    color: #8c90ff;
}

.pert-chart .chart-controls button:active i {
    color: #646cdb;
    font-size: 18px;
}

.pert-chart .chart svg {
    background: #fff;
}

.pert-chart .chart svg g {
    cursor: pointer;
    user-select: none;
}

.pert-chart .chart svg g circle,
.pert-chart .chart svg g text,
.pert-chart .chart svg g path {
    transition: 0.2s;
}

.pert-chart .chart svg>g>circle {
    fill: #fff;
    stroke: #181922;
}

.pert-chart .chart svg>g>circle.critical {
    fill: #ffa87d;
}


.pert-chart .chart svg>g.to>circle {
    stroke-width: 3px;
    stroke: #3541df;
    fill: #b9beff;
}

.pert-chart .chart svg>g.from>circle {
    stroke-width: 3px;
    stroke: #3541df;
}

.pert-chart .chart svg>g.hover>.paths>g>path:not(.hidden-path),
.pert-chart .chart svg>g>circle:hover~.paths>g>path:not(.hidden-path) {
    stroke: #3541df;
}

.pert-chart .chart svg>g.hover>.paths>circle,
.pert-chart .chart svg>g>circle:hover~.paths>circle {
    fill: #3541df;
}

.pert-chart .chart svg>g.hover>circle,
.pert-chart .chart svg>g>circle:hover {
    stroke-width: 5px;
    stroke: #3541df;
}

.pert-chart .chart svg>g.selected>circle {
    fill: #3541df;
    stroke-width: 3px;
}

.pert-chart .chart svg>g.selected text {
    fill: #fff;
}

.pert-chart .chart svg path:not(.hidden-path) {
    fill: none;
    stroke-width: 3px;
    stroke: #a0a0bb;
}

.pert-chart .chart svg g path.split-lines {
    stroke: #181922;
    stroke-width: 2px;
}

.pert-chart .chart svg path.hidden-path {
    fill: none;
    stroke: transparent;
    stroke-width: 13px;
}

.pert-chart .chart svg g path.critical-link {
    stroke: #ff5c3f;
    stroke-width: 4px;
}

.pert-chart .chart svg g path.path-hover {
    stroke: #3541df;
}

.pert-chart .chart svg>g>g circle {
    stroke-width: 0px;
    fill: #8a8aad;
    stroke: #3541df;
}


.pert-chart .chart svg>g.selected>g circle {
    stroke-width: 4px;
    fill: #3541df;
}

.pert-chart .chart svg.line-transparent g path:not(.hidden-path):not(.split-lines):not(.path-hover) {
    stroke: transparent;
}

.pert-chart .chart svg.line-transparent>g:not(.selected)>g>circle {
    stroke-width: 0px;
    fill: transparent;
}

.pert-chart .chart svg.line-transparent g.selected path:not(.hidden-path):not(.split-lines) {
    stroke-width: 5px;
    stroke: #3541df;
}

.pert-chart .chart svg.line-transparent g:not(.selected):not(.to):not(.from):not(.paths)>circle {
    opacity: 0.3;
}

.pert-chart .chart svg.line-transparent g:not(.selected):not(.to):not(.from)>text {
    opacity: 0.8;
}