.pert-chart {
    position: relative;
    z-index: 0;
    transition: 0.2s;
}

.pert-chart .chart {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: black;
}

.pert-chart.hidden {
    opacity: 0;
    visibility: hidden;
}

.pert-chart .chart-controls {
    position: absolute;
    margin: 0 5px;
    top: 0;
    left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    z-index: 1;
}

.pert-chart .chart-controls button {
    display: inline-block;
    width: fit-content;
    padding: 5px;
    height: fit-content;
    border: none;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    border-radius: 20px;
    transition: 0.2s;
    outline: none;
    opacity: 0.7;
}

.pert-chart .chart-controls button:hover {
    background: #181922;
    opacity: 1;
}

.pert-chart .chart-controls button svg {
    color: #fff;
    transition: 0.2s;
}



.pert-chart .chart-controls button:hover svg {
    color: #8c90ff;
}

.pert-chart .chart-controls button:active svg {
    color: #646cdb;
    scale: 0.9;
}

.pert-chart .chart .svg-chart {
    background: #fff;
}

.pert-chart .chart .svg-chart g {
    cursor: pointer;
    user-select: none;
}

.pert-chart .chart .svg-chart g circle,
.pert-chart .chart .svg-chart g text,
.pert-chart .chart .svg-chart g path {
    transition: 0.2s;
}

.pert-chart .chart .svg-chart>g>circle {
    fill: #fff;
    stroke: #181922;
}

.pert-chart .chart .svg-chart>g>circle.critical {
    fill: #ffa87d;
}


.pert-chart .chart .svg-chart>g.to>circle {
    stroke-width: 3px;
    stroke: #3541df;
    fill: #b9beff;
}

.pert-chart .chart .svg-chart>g.from>circle {
    stroke-width: 3px;
    stroke: #3541df;
}

.pert-chart .chart .svg-chart>g.hover>.paths>g>path:not(.hidden-path),
.pert-chart .chart .svg-chart>g>circle:hover~.paths>g>path:not(.hidden-path) {
    stroke: #3541df;
}

.pert-chart .chart .svg-chart>g.hover>.paths>circle,
.pert-chart .chart .svg-chart>g>circle:hover~.paths>circle {
    fill: #3541df;
}

.pert-chart .chart .svg-chart>g.hover>circle,
.pert-chart .chart .svg-chart>g>circle:hover {
    stroke-width: 5px;
    stroke: #3541df;
}

.pert-chart .chart .svg-chart>g.selected>circle {
    fill: #3541df;
    stroke-width: 3px;
}

.pert-chart .chart .svg-chart>g.selected text {
    fill: #fff;
}

.pert-chart .chart .svg-chart path:not(.hidden-path) {
    fill: none;
    stroke-width: 3px;
    stroke: #a0a0bb;
}

.pert-chart .chart .svg-chart g path.split-lines {
    stroke: #181922;
    stroke-width: 2px;
}

.pert-chart .chart .svg-chart path.hidden-path {
    fill: none;
    stroke: transparent;
    stroke-width: 13px;
}

.pert-chart .chart .svg-chart g path.critical-link {
    stroke: #ff5c3f;
    /* stroke-width: 4px; */
}

.pert-chart .chart .svg-chart g path.path-hover {
    stroke: #3541df;
}

.pert-chart .chart .svg-chart>g>g circle {
    stroke-width: 0px;
    fill: #8a8aad;
    stroke: #3541df;
}


.pert-chart .chart .svg-chart>g.selected>g circle {
    stroke-width: 4px;
    fill: #3541df;
}

.pert-chart .chart .svg-chart.line-transparent g path:not(.hidden-path):not(.split-lines):not(.path-hover) {
    stroke: transparent;
}

.pert-chart .chart .svg-chart.line-transparent>g:not(.selected)>g>circle {
    stroke-width: 0px;
    fill: transparent;
}

.pert-chart .chart .svg-chart.line-transparent g.selected path:not(.hidden-path):not(.split-lines) {
    stroke-width: 5px;
    stroke: #3541df;
}

.pert-chart .chart .svg-chart.line-transparent g:not(.selected):not(.to):not(.from):not(.paths)>circle {
    opacity: 0.3;
}

.pert-chart .chart .svg-chart.line-transparent g:not(.selected):not(.to):not(.from)>text {
    opacity: 0.8;
}