.project-card {
    transition: all .3s;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;


}

project-card .bold {
    font-weight: bold;
}

.project-card:hover {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* transform: translateY(-5px); */
}


.project-card .project-card-title {
    width: 100%;
    cursor: pointer;
    transition: all .3s;
    position: relative;
}

.project-card .project-card-title::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 0;
    width: 5px;
    height: 100%;
    background: transparent;
    opacity: 0;
    z-index: 1;
    transition: .3s;
    border-radius: 5px;
}

.project-card .project-card-title .arrow-right {
    position: relative;
    right: -5px;
    opacity: 0;
    font-size: 25px;
}

.project-card .project-card-title:hover {
    padding-left: 15px;
}

.project-card .project-card-title:hover::before {
    left: 0;
    background: #3F3F5A;
    opacity: 1;
}

.project-card .project-card-title:hover p {
    text-decoration: underline;
}

.project-card .project-card-title:hover .arrow-right {
    animation: fade-in 1s forwards infinite;
}

.project-card .project-card-title h2 {
    transition: 0.15s;
}


.warning-message {
    color: #ff6055;
    font-size: 12px;
    font-weight: bold;
    display: block;
}

.trash-icon {
    padding: 4px;
    font-size: 20px;
    cursor: pointer;
    color: #ff6055;
}

/* Fade aniamtion */
@keyframes fade-in {
    0% {
        opacity: 0;
        right: 5px;
    }

    50% {
        opacity: 1;
        right: 0;
    }

    100% {
        opacity: 0;
        right: -5px;
    }
}

.project-details .copy-icon {
    cursor: pointer;
    transition: .2s;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-details .copy-icon:hover {
    color: #3F3F5A;
    position: relative;
}

.project-details .copy-icon:active {
    transform: scale(0.8);
}

.project-details .project-details h2 .back-icon,
.project-details h2 .diagram-project-icon {
    font-size: 25px;
    margin-right: 10px;
}

.project-details h2 {
    font-size: 28px
}

.project-details h2 .back-icon {
    cursor: pointer;
    transition: .2s;
    position: relative;
    font-size: 35px;
    left: -3px;
}

.project-details h2 .back-icon:hover {
    color: #3F3F5A;
    left: -8px;
}



.project-details h2 .pencil-icon {
    font-size: 20px;
    color: #8484A9;
    transition: 0.2s;
}

.project-details .pencil-icon:active,
.project-details .back-icon:active,
.project-details h2 button:active .pencil-icon {
    transform: scale(0.8);
}