.loader {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(56, 58, 91, 0.6);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader span {
    position: absolute;
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 3px solid transparent;
    display: grid;
    place-items: center;
    border-top-color: var(--color-secondary);
    border-right-color: var(--color-secondary);
}


.loader span:nth-child(1) {
    animation: spin-left 1s linear infinite;
}

.loader span:nth-child(2) {
    animation: spin-right 0.5s linear infinite;
    width: 40px;
    height: 40px;
}


@keyframes spin-right {
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin-left {
    to {
        transform: rotate(-360deg);
    }
}